[submodule "app"]
	path = app
	url = https://github.com/baboyiban/flutter_app
[submodule "server"]
	path = server
	url = https://github.com/baboyiban/proxy-server
[submodule "test/mqtt"]
	path = test/mqtt
	url = https://github.com/baboyiban/mqtt-example
[submodule "app"]
	path = app
	url = https://github.com/baboyiban/flutter_app
