networks:
  backend:

services:
  app:
    image: chl11wq12/kosta-2-app:v1.0.0
    platform: linux/amd64
    build: .
    container_name: gin-gorm-app
    ports:
      - "${APP_PORT}:${APP_PORT}"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy  # MySQL이 healthy 상태가 되면 실행
    networks:
      - backend

  db:
    image: mysql:8
    platform: linux/amd64
    container_name: mysql-db
    ports:
      - "${DB_PORT}:${DB_PORT}"
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-uroot", "-prootpassword"]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - backend

volumes:
  mysql_data:
